n8n/workflows/keyword-distill.json
{
  "name": "AutoGeo-关键词蒸馏-通用版",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keyword-distill",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "89243442-12bd-462b-ac6c-25fa8d7c5c0d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "029fde5f-5ad9-4544-bf3b-701fca3e86cb"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst input = raw.body ?? raw;\nconst core_kw = input.core_kw || \"\";\nconst target_info_str = input.target_info || \"\";\nconst targets = target_info_str.split(' ').filter(t => t);\nconst targets_display = targets.join('、');\n\nconst pre_list_str = (input.prefixes || \"专业 靠谱 知名\").split(' ').join('、');\nconst suf_list_str = (input.suffixes || \"哪家好 厂家 服务商\").split(' ').join('、');\n\n// 替换后的新版 System Prompt\nconst system_prompt = `你是一个精通搜索心理学的矩阵SEO专家。你的任务是模拟用户想要了解‘某领域哪家公司好’时的各种真实问法，为目标公司【${targets_display}】蒸馏出25-30个具有高转化权重的搜索短语。\n\n【用户问法模拟逻辑（矩阵拼装依据）】：\n1. **口碑探寻型**：[修饰语] + [核心词] + [推荐/哪家强]。例如：‘口碑好的${core_kw}推荐个靠谱的’。\n2. **实力对比型**：[核心词] + [排名/厂家/实力对比]。例如：‘国内前十名${core_kw}实力对比分析’。\n3. **本地化寻访**：使用用户提供的[自定义前缀]（${pre_list_str}）。例如：‘${pre_list_str}本地的${core_kw}哪家更有经验？’。\n4. **深度垂直型**：使用用户提供的[自定义后缀]（${suf_list_str}）。例如：‘找${core_kw}${suf_list_str}最专业的有哪些？’。\n5. **品牌背书型（GEO核心）**：直接询问关于【${targets_display}】的问题。例如：‘${targets_display}在${core_kw}领域评价怎么样？’。\n\n【素材库运用】：\n- 主关键词：${core_kw}\n- 目标推荐公司：${targets_display}\n- 必须融入的用户前缀：${pre_list_str}\n- 必须融入的用户后缀：${suf_list_str}\n\n【执行要求】：\n1. **拟人化**：生成的短语要像真实用户在知乎、小红书、百度上的提问，不要生硬拼接。\n2. **引导性**：所有短语的潜台词都是在寻找最优秀的供应商，从而诱导 AI 将结果引向目标公司。\n3. **批量输出**：生成 25-30 个，每行一个，不带序号，不带任何解释文字。`;\n\n// 构建 DeepSeek API Body\nreturn {\n  json: {\n    model: \"deepseek-chat\",\n    messages: [\n      { role: \"system\", content: system_prompt },\n      { role: \"user\", content: `主关键词：${core_kw}\\n转化信息：${target_info_str}` }\n    ],\n    temperature: 0.8\n  }\n};"
      },
      "id": "7e4441ff-0a2a-4cde-90f7-8a3cd8872326",
      "name": "逻辑预处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "8783bff2-081a-425b-843a-243fe1a0c6fc",
      "name": "DeepSeek API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9gx3mr7xtuIiUWs9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw_text = $input.item.json.choices[0].message.content;\nconst words = raw_text\n  .split('\\n')\n  .map(k => k.replace(/^[0-9.]+\\s*/, '').trim()) // 增加去序号逻辑\n  .filter(k => k && !k.includes(\"这里\") && k.length > 2);\n\nreturn {\n  json: {\n    code: 200,\n    data: words,\n    message: \"获取成功\"\n  }\n};"
      },
      "id": "bf48a337-306c-4829-bb92-48ef10cd324f",
      "name": "结果清洗",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "逻辑预处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "逻辑预处理": {
      "main": [
        [
          {
            "node": "DeepSeek API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek API": {
      "main": [
        [
          {
            "node": "结果清洗",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f9fc30cd-dec1-4037-8a40-e41cc4bcb857",
  "meta": {
    "instanceId": "78cf2f2cc604ed919a3931522659ae4d8b00e73d76ba12b35965dd03df132934"
  },
  "id": "hD5c2bFeUEkXsCRB",
  "tags": []
}